

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div *ngIf="isRootRoute()">
  <!-- Content for home page goes here -->
  <div style="display: flex; height:100%;">
    <div style="height: 100%; width: 20%;">
      fefew
    </div>
    <div style="width: 100%;">
      <app-clock></app-clock>
    </div>
  
  
  </div>
  
  
</div>
<router-outlet></router-outlet>

