.root {
    height: 100%;
}

.root-app-container {
    display: flex;
    height: 100%;
}

.sidenav{
    height: 100%;
    width: 15%;
}

.drawer {
    height: 100%;

}

.app-container{
    height: 100%;

}