
.stop-watch {
    height: 100%;
    display: flex;
    justify-content: center;
    // background-color: black;
}

.stop-watch-container {
    width: 80%;
    display: flex ;
    flex-direction: column;
    @media (max-width: 480px) {
        width: 480px*0.8;
    }
    @media (min-width: 481px) {
        width: 481px*0.8;
    }
    @media (min-width: 768px) {
        width:768px*0.8;
    }
    @media (min-width: 1024px) {
        width: 1024px*0.8;
    }
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
}

.time-on-watch {
    $base-font-size: 80px;
    text-align: center;
    @media (max-width: 480px) {
        font-size:  $base-font-size ;
    }
    @media (min-width: 481px) {
        font-size:  $base-font-size *1.1 ;
    }
    @media (min-width: 768px) {
        font-size:  $base-font-size*1.4 ;
    }
    @media (min-width: 1024px) {
        font-size:  $base-font-size *2;
    }
}

$button-width: 100px;
$button-height: 100px;

.button-Container {
    width: $button-width;
    height: $button-height;
    @media (max-width: 768px) {
        width: $button-height / 1.5;
        height: $button-height / 1.5;
    }
}

.start-button {
    width: 100%;
    height: 100%;
    color: rgb(188, 245, 188);
    background-color: rgba(0, 128, 0, 0.884);
}

.lap-button, .reset-lap-button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: grey;
}

.lap-disable-button {
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(128, 128, 128, 0.438);
}

.stop-button {
    width: 100%;
    height: 100%;
    color: rgb(255, 60, 60);
    background-color: rgba(235, 25, 25, 0.548);
}

.lap-green-record {
    display: flex;
    justify-content: space-between;
    color: rgb(6, 253, 6);
}

.lap-red-record {
    display: flex;
    justify-content: space-between;
    color: red;
    align-items: center
}

.lap-white-record {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counting-record {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    
}

li {
    border-bottom: 1px solid black;
    list-style: none;
    padding: 10px 0;
    font-size: large;
    @media (max-width: 768px) {
        font-size: medium;
    }
    
}

ul {
    padding: 0;
}